.modal-content {
    width: 800px;

}

.modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.content {
    margin-right: 30px;
}

.modal-body img {
    width: 150px;
    height: 100px;
}